@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar {
      @apply  text-white flex flex-wrap justify-between items-center lg:w-full
      md:w-full sm:w-full xs:w-full text-xs mb-36 fixed z-50 bg-[#161612] h-[60px]
    }
  }

@layer components {
  .App {
    @apply flex flex-wrap justify-center
  }
}

@layer components {
  .presentation {
    @apply w-full text-center flex flex-wrap justify-center pt-24
    mb-8
  }
}

@layer components {
  .apartado {
    @apply sm:w-1/12 md:w-1/12 larguito:w-1/12 lg:w-1/12 xl:w-32 text-gray-400
    hover:text-white hover:cursor-pointer
  }
}

@layer components {
  .yo {
    @apply w-2/5 pt-2 text-gray-200 xs:w-2/5 sm:w-2/5 md:w-2/5 larguito:w-2/5 lg:w-2/5 xl:w-2/5
    flex flex-wrap
  }
}

@layer components {
  .imagen{
    @apply w-1/6 rounded-xl xs:w-1/12 sm:w-1/6 md:w-1/6 larguito:w-1/6 lg:w-1/6 xl:w-1/6
  }
}
@layer components {
  .botonlogo{
    @apply flex flex-wrap justify-center items-center w-full
  }
}
@layer components {
  .boton{
    @apply xs:w-2/3 sm:w-1/3 maso:w-1/3 md:w-1/4 larguito:w-1/4 lg:w-1/5 h-10 text-white rounded-xl hover:bg-blue-700
    bg-blue-900 mx-12
  }
}

@layer components {
  .imagenes {
    @apply flex flex-wrap justify-center items-center w-2/3 mt-4 mb-12
  }
}

@layer components {
  .proyectos {
    @apply w-full flex flex-wrap justify-center items-center bg-stone-950
  }
}

@layer components {
  .contenedor-marketmaster {
    @apply w-full flex flex-wrap justify-center items-center bg-stone-950
    pb-12
  }
}

@layer components {
  .marketmaster {
    @apply w-2/3 flex flex-wrap
  }
}

@layer components {
  .infomaster {
    @apply sm:w-full md:w-full larguito:w-1/2 lg:w-1/2 larguito:pr-4 lg:pr-12
  }
}

@layer components {
  .imagenmaster {
    @apply sm:w-full md:w-full larguito:w-1/2 lg:w-1/2  flex flex-wrap sm:items-center xs:justify-center
  }
}

@layer components {
  .laimagen {
    @apply w-full
  }
}

@layer components {
  .contenedor-tecnologia {
    @apply w-full flex flex-wrap items-center justify-center bg-[#161612] rounded-lg
    mb-16
  }
}
@layer components {
  .contenedor-tecnologiadebajo {
    @apply w-full flex flex-wrap items-center
    mb-16
  }
}

@layer components {
  .tecnologia {
    @apply sm:w-1/3 larguito:w-1/3 lg:w-1/5 text-gray-500 text-sm p-2 text-center
  }
}

@layer components {
  .tecnologiadebajo {
    @apply text-gray-300 text-sm p-2 text-center border border-gray-700 my-2
    rounded-xl hover:bg-gray-800 hover:scale-105 transition-transform duration-300
  }
}

body {
  background: #161612;
}

@layer base {
  h1 {
    @apply text-xxxl font-semibold text-gray-200 maso:w-2/3
  }
  h2 {
    @apply text-xxl font-semibold text-yellow-200 larguito:w-2/3
  }
  h3 {
    @apply text-base font-normal text-gray-500
  }
  p {
    @apply text-lg text-gray-400 maso:w-full
  }
}

@layer components {
  .aimag{
    @apply flex mx-1
  }
}

@layer components {
  .elboton{
    @apply border text-white text-sm rounded-lg p-2 font-semibold hover:bg-gray-700 w-full
  }
}
